<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.example.ssm.mapper.UserLoginMapper" >
<!--通过用户名和密码查询用户信息的sql  -->
 <sql id="query_user_UnPw_where">
 <if test="login_name!=null">
 login_name = #{login_name}
 <if test="login_password!=null">
  and login_password = #{login_password}
 </if>
 </if>
 </sql>
 <!--通过用户名和密码来验证用户信息是否存在  -->
  <select id="findUserByUsernamePassword" parameterType="userLogin" resultType="int" >
  <if test="login_name!=null">
  select count(*) from user_login
<where>
<include refid="query_user_UnPw_where"></include>
</where>
  </if>
  </select>
  <!-- 通过用户名来查询用户信息 -->
  <select id="findUserByUsername" parameterType="userLogin" resultType="int" >
  
 <if test="login_name!=null">
 Select count(*) from user_login
 <where>
 login_name=#{login_name}
 </where>
 </if>
  
  </select>
 
</mapper>